.pretty-btn{
    background-color: #F694c1;
  }
  .title{
    font-family:'myfont';
    font-size:3.5em;
    font-weight: bolder;
    color:#a9def9;
    text-shadow: -1px 1px 0 #000,
          1px 1px 0 #000,
         1px -1px 0 #000,
        -1px -1px 0 #000;
    
  }
  .main-text{
    font-family:'myfont';
   }