<!-- <form>
    <div class="text-center">
    <div >
        <label for="item_name">Item Name</label>
    <input type="text" id="item_name" name="item_name" value="">
</div>

<div>
    <label for="type_id">Candy Type</label>
<input type="text" id="type_id" name="type_id" value="">
</div>

<div>
    <label for="quantity">Quantity</label>
<input type="text" id="quantity" name="quantity" value="">
</div>

<div>
    <label for="warehouse_id">Warehouse Location</label>
<input type="text" id="warehouse_id" name="warehouse_id" value="">
</div>

<div>
    <label for="popularity">Popularity</label>
<input type="text" id="popularity" name="popularity" value="">
</div>

<div>
    <button class="btn btn-primary" type="submit">Add to Inventory</button>
</div></div>
</form> -->


<div>
    <h1>
        Update Inventory
    </h1>
    <form > <!--#myForm="ngForm" (ngSubmit)="onSubmit()" -->
        <div class="form-group">
            <label for="item_name">Item Name</label>
            <input class="form-control formColor" type="text" id="item_name" name="item_name" value="">

        </div>
        <div class="form-group">
            <label for="type_id">Candy Type</label>
<input class="form-control formColor" type="text" id="type_id" name="type_id" value="item.type_id">

        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
<input class="form-control formColor" type="text" id="quantity" name="quantity" value="item.quantity">
          

        </div>
        <div class="form-group">
            <label for="warehouse_id">Warehouse Location</label>
<input class="form-control formColor" type="text" id="warehouse_id" name="warehouse_id" value="">

        </div>
        <div class="form-group">
            <label for="popularity">Popularity</label>
<input class="form-control formColor" type="text" id="popularity" name="popularity" value="">

        </div>
            <button class="btn btn-primary button border-dark mt-3" type="submit">Update Inventory</button>
       
        <input class="btn btn-primary border-dark mt-3" type="reset" value="Reset">

    </form>
</div>