

<link rel="stylesheet" href="main-page.component.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
         
                <header>
        <div class="logo">
          <img src="https://raw.githubusercontent.com/TenzinWangden/Project3_Front-End/daun/IMG_5914.jpeg" alt="Warehouse Logo">
        </div>
       
           
          </header>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
        <a routerLink="/home" >Home</a> |
        <a routerLink="/inventory">Inventory</a> |
        <a routerLink="/about">About</a> | 
        <a routerLink="/inventory/warehouse1">Warehouse 1</a> |
        <a routerLink="/inventory/warehouse2">Warehouse 2</a> |
        <a routerLink="/inventory/warehouse3">Warehouse 3</a>
    </ul>
</div> <ul class="nav navbar-nav navbar-right">

        <div class="text-end">
          <input type="text" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="Password">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
        </div>
       
      </nav>
      
      <br>
   
      <div class="container">
        <div class="search">
            <input type="text" name="search" placeholder="Search">
            <button class="btn btn-primary">Search</button>
            
          </div>
        <h1>Welcome to The Candy Warehouse</h1>
        <p>Discover a world of delightful candies!</p>
        <a href="#" class="btn">Shop Now</a>
  
        <div class="container text-center">
            <h3>CHOCOLATES</h3>
            <p><em>We love chocolates!</em></p>
            
            <br>
        
        <div class="product">
          <img src="https://www.candywarehouse.com/cdn/shop/files/milk-chocolate-covered-malt-balls-2lb-bag-candy-warehouse-1.jpg?v=1688583803" alt="Product 1">
          <h3>Milk Chocolate Covered Malt Balls: 2LB Bag</h3>
          <p>Forget those other malted milk balls. These are gourmet malted milk balls, made from the finest ingredients available, like velvety milk chocolate and crispy, feather-light malted milk. Open a case, and you’ll want to throw a party right away to share the glossy, eye-catching goodies. Sink your teeth into just one, and you’ll want to keep them all to yourself.

            There are approximately 65 pieces per pound.
            Ball Diameter: 0.75 Inch
            
            Bag contains 2 pounds of Milk Chocolate Covered Malt Balls Candy.
            
            Made in the USA.
            
            Shipping Weight ~ 2.5 lbs.</p>
          <button class="btn btn-primary">Add to Cart</button>
        </div>
        
        <div class="product">
          <img src="https://www.candywarehouse.com/cdn/shop/files/madelaine-foiled-12-ounce-solid-milk-chocolate-roses-pink-12-piece-box-candy-warehouse_2fe1b9dd-5e17-4dec-9bb1-618516f68030_550x.jpg?v=1688588679" alt="Product 2">
          <h3>Madelaine Foiled 1/2-Ounce Solid Milk Chocolate Roses - Pink: 12-Piece Box</h3>
          <p>Solid molded milk chocolate rose buds sit on top of an 8 inch plastic stem with silk leaves.

            Rose Dimensions (Inches): 9 1/2 x 1 x 1
            
            Box contains 12 Pink Foiled Solid Milk Chocolate Roses, each with a net weight of 0.5 ounce.
            
            Made in the USA.
            
            Shipping Weight ~ 3 lbs. Kosher Certified.</p>
          <button class="btn btn-primary">Add to Cart</button>
        </div>
        
    

          <div class="section">
            <a routerLink="/inventory/warehouse1">Warehouse 1</a> 
      
            <div class="section-content">
              <img src="https://www.fueloyal.com/wp-content/uploads/2017/03/Discover-50-Best-Warehouse-Companies-in-Central-United-States-3.jpg" alt="Warehouse A" class="warehouse-image">
              <p>Location: 123 Main Street, City</p>
              <p>Capacity: 1000 sq. ft.</p>
              <p>Number of Employees: 15</p>
            </div>
          </div>
          
          <div class="section">
            <a routerLink="/inventory/warehouse2">Warehouse 2</a>
            <div class="section-content">
              <img src="https://www.fueloyal.com/wp-content/uploads/2017/03/Discover-50-Best-Warehouse-Companies-in-Central-United-States-1.jpg" alt="Warehouse B" class="warehouse-image">
              <p>Location: 456 Elm Avenue, Town</p>
              <p>Capacity: 1500 sq. ft.</p>
              <p>Number of Employees: 10</p>
            </div>
          </div>
          
          <div class="section">
            <a routerLink="/inventory/warehouse3">Warehouse 3</a>
            <div class="section-content">
              <img src="https://www.fueloyal.com/wp-content/uploads/2017/03/Discover-50-Best-Warehouse-Companies-in-Central-United-States-2.jpg" alt="Warehouse C" class="warehouse-image">
              <p>Location: 789 Oak Road, Village</p>
              <p>Capacity: 2000 sq. ft.</p>
              <p>Number of Employees: 20</p>
            </div>
          </div>
          <form class="form-inline">
            <div class="input-group">
              <input type="email" class="form-control" size="50" placeholder="Email Address" required>
              <div class="input-group-btn">
                <button type="button" class="btn btn-danger">Subscribe</button>
              </div>
            </div>
          </form>
       
          
          <br>
          <footer>
    <div class="lists">
        <ul>
            <li><h2>Company</h2></li>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/about.html">About Us</a></li>
            <li><a href="/contact.html">Services</a></li>
        </ul>
        <ul>
            <li><h2>Support</h2></li>
            <li><a href="/contact.html">Contact Us</a></li>
        </ul>
        <ul>
            <li><h2>Get in Touch</h2></li>
            <li><a href="" target="_blank">Miami, Florida</a></li>
            <li><a href="tel:555-213-9120">(555) 213-9120</a></li>
            <li><a href="mailto:info@email.com">info@email.com</a></li>
        </ul>
    </div>

    <div class="buttons">
        <a class="button-solid" href="/contact.html" >
            Call to action button
        </a>
    </div>
    <p>&copy; 2023 The Candy Warehouse. All rights reserved.</p>
  </footer>


