
<div>
    <h1 class="title" style="text-align: center; font-weight: bold; font-size:50px;">
        Add Inventory
    </h1>
    <div class="main-text">
    <form #myForm="ngForm" (ngSubmit)="onSubmit()"> 
        <div class="form-group">
            <label class="main-text" for="itemName" style="margin-left:1em">Item Name</label>
            <input [(ngModel)]="model.name" class="form-control formColor" type="text" id="itemName" name="itemName" placeholder="Item Name" aria-label="Item Name">


        </div>
        <div class="form-group">
            <label for="type" style="margin-left:1em">Candy Type</label>
            <input class="form-control formColor" [(ngModel)]="model.typeId" type="number" id="type" name="type.typeId" placeholder="Candy Type" aria-label="Candy Type">

        </div>
        <div class="form-group">
            <label for="quantity" style="margin-left:1em">Quantity</label>
<input class="form-control formColor" [(ngModel)]="model.quantity" type="number" id="quantity" name="quantity" placeholder="Quantity" aria-label="Quantity">
          

        </div>
        <div class="form-group">
            <label for="warehouse" style="margin-left:1em">Warehouse Location</label>
<input class="form-control formColor" [(ngModel)]="model.warehouseId" type="number" id="warehouse" name="warehouse" placeholder="Warehouse" aria-label="Warehouse">

        </div>
        <div class="form-group">
            <label for="popularity" style="margin-left:1em">Popularity</label>
<input class="form-control formColor" [(ngModel)]="model.popularity" type="number" id="popularity" name="popularity" placeholder="Popularity" aria-label="Popularity">

        </div>
            <button class="btn pretty-btn button border-dark mt-3"type="submit" style="margin-left: 1em;">Add to Inventory</button>
       
        <input class="btn pretty-btn button border-dark mt-3" style="margin-left: 3px;" type="reset" value="Reset">

    </form>
</div>
<!-- <div tables>
<table class="table table-bordered table-hover" style="width: 500px;">
    <thead >
      <tr>
        <th scope="col" style="font-weight: bolder; font-size:x-large; background-color: #a9def9;">Candy Type</th>
        <th scope="col" style="font-weight: bolder; font-size:x-large; background-color: #a9def9;">Type ID</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th style="background-color: #a9def9;" scope="row">Chocolate</th>
        <td style="font-weight: bold; background-color: #a9def9;">1</td>
      </tr>
      <tr>
        <th style="background-color: #a9def9;" scope="row">Gummy</th>
        <td style="font-weight: bold; background-color: #a9def9;">2</td>
      </tr>
      <tr>
        <th style="background-color: #a9def9;" scope="row">Lollipop</th>
        <td style="font-weight: bold; background-color: #a9def9;">3</td>
      </tr>
    </tbody>
  </table>
  <table class="table pretty-tables table-bordered table-hover table-nonfluid mt-3">
    <thead>
      <tr>
        <th scope="col" style="font-weight: bolder; font-size:x-large; background-color: #a9def9;">Warehouse Location</th>
        <th scope="col" style="font-weight: bolder; font-size:x-large; background-color: #a9def9;">Warehouse ID</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th style="font-weight: bold; background-color: #a9def9;" scope="row">Indianapolis</th>
        <td style="font-weight: bold; background-color: #a9def9;">1</td>
      </tr>
      <tr>
        <th style="font-weight: bold; background-color: #a9def9;" scope="row">Nashville</th>
        <td style="font-weight: bold; background-color: #a9def9;">2</td>
      </tr>
      <tr>
        <th style="font-weight: bold; background-color: #a9def9;" scope="row">Oklahoma City</th>
        <td style="font-weight: bold; background-color: #a9def9;">3</td>
      </tr>
    </tbody>
  </table></div> -->

  <style>
    * {
      box-sizing: border-box;
    }
    
    .row {
      margin-left:-5px;
      margin-right:-5px;
    }
      
    .column {
      float: left;
      width: 50%;
      padding: 5px;
    }
    
    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }
    
    th, td {
      text-align: left;
      padding: 16px;
    }
    
    tr:nth-child(even) {
      background-color: #e4c1f9;
    }
    </style>
    <body>
    <div class="row">
      <div class="column">
        <table class="tables table-hover table-border main-text">
          <tr>
            <th style="font-weight: bolder; font-size:x-large;" >Candy Name</th>
            <th style="font-weight: bolder; font-size:x-large;">Candy ID</th>
          </tr>
          <tr>
            <td style="font-weight: bold;" >Chocolate</td>
            <td style="font-weight: bold;" >1</td>
          </tr>
          <tr>
            <td style="font-weight: bold;" >Gummy</td>
            <td style="font-weight: bold;" >2</td>
          </tr>
          <tr>
            <td style="font-weight: bold;" >Lollipop</td>
            <td style="font-weight: bold;" >3</td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table class="tables main-text">
          <tr>
            <th style="font-weight: bolder; font-size:x-large;">Warehouse Location</th>
            <th style="font-weight: bolder; font-size:x-large;">Warehouse ID</th>
          </tr>
          <tr>
            <td style="font-weight: bold;" >Indianapolis</td>
            <td style="font-weight: bold;" >1</td>
          </tr>
          <tr>
            <td style="font-weight: bold;" >Nashville</td>
            <td style="font-weight: bold;" >2</td>
          </tr>
          <tr>
            <td style="font-weight: bold;" >Oklahoma City</td>
            <td style="font-weight: bold;" >3</td>
          </tr>
        </table>
      </div>
    </div>
    
    </body></div>