<link rel="stylesheet" href="app.component.css">
  <nav>
    <div class="logo">
      <img src="https://raw.githubusercontent.com/TenzinWangden/Project3_Front-End/daun/IMG_5914.jpeg" alt="Warehouse Logo">
    </div>
    <a routerLink="/home" style="margin-left: 1em;">Home</a> |
    <a routerLink="/inventory">Inventory</a> |
    <a routerLink="/about">About</a> | 
    <a routerLink="/inventory/warehouse1">Warehouse 1</a> |
    <a routerLink="/inventory/warehouse2">Warehouse 2</a> |
    <a routerLink="/inventory/warehouse3">Warehouse 3</a>

    <div class="text-end">
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </nav>


