<!-- <form>
    <div class="text-center">
    <div >
        <label for="item_name">Item Name</label>
    <input type="text" id="item_name" name="item_name" value="">
</div>

<div>
    <label for="type_id">Candy Type</label>
<input type="text" id="type_id" name="type_id" value="">
</div>

<div>
    <label for="quantity">Quantity</label>
<input type="text" id="quantity" name="quantity" value="">
</div>

<div>
    <label for="warehouse_id">Warehouse Location</label>
<input type="text" id="warehouse_id" name="warehouse_id" value="">
</div>

<div>
    <label for="popularity">Popularity</label>
<input type="text" id="popularity" name="popularity" value="">
</div>

<div>
    <button class="btn btn-primary" type="submit">Add to Inventory</button>
</div></div>
</form> -->


<div>
    <h1 style="text-align: center; font-weight: bold; font-size:50px;">
        Update Inventory
    </h1>
    <form #myForm="ngForm" (ngSubmit)="onSubmit()"> 
        <div class="form-group">
            <label for="itemName" style="margin-left:1em">Item Name</label>
            <input class="form-control formColor" [(ngModel)]="model.name" type="text" id="itemName" name="itemName" value="">

        </div>
        <div class="form-group">
            <label for="type" style="margin-left:1em">Candy Type</label>
<input class="form-control formColor" [(ngModel)]="model.typeId" type="number" id="type" name="type.typeId" value="item.type.typeId">

        </div>
        <div class="form-group">
            <label for="quantity" style="margin-left:1em" style="margin-left:1em">Quantity</label>
<input class="form-control formColor" [(ngModel)]="model.quantity" type="number" id="quantity" name="quantity" value="item.quantity">
          

        </div>
        <div class="form-group">
            <label for="warehouse" style="margin-left:1em">Warehouse Location</label>
<input class="form-control formColor" [(ngModel)]="model.warehouseId" type="number" id="warehouse" name="warehouse" value="">

        </div>
        <div class="form-group" >
            <label for="popularity" style="margin-left:1em">Popularity</label>
<input class="form-control formColor" [(ngModel)]="model.popularity"type="number" id="popularity" name="popularity" value="">

        </div>
            <button class="btn btn-primary button border-dark mt-3" style="margin-left:1em;" type="submit">Update Inventory</button>
       
        <input class="btn btn-primary border-dark mt-3" type="reset" value="Reset" style="margin-left: 3px;">

    </form>
    <table class="table table-dark table-bordered table-hover table-nonfluid mt-3">
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="font-weight: bolder; font-size:x-large;">Candy Type</th>
            <th scope="col" style="font-weight: bolder; font-size:x-large;">Type ID</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Chocolate</th>
            <td style="font-weight: bold;">1</td>
          </tr>
          <tr>
            <th scope="row">Gummy</th>
            <td style="font-weight: bold;">2</td>
          </tr>
          <tr>
            <th scope="row">Lollipop</th>
            <td style="font-weight: bold;">3</td>
          </tr>
        </tbody>
      </table>
</div>