<div class="main-text">

<div>
    <h1 class="title" style="text-align: center; font-weight: bold; font-size:50px;">
        Update Inventory
    </h1>
    <form #myForm="ngForm" (ngSubmit)="onSubmit()"> 
        <div class="form-group">
            <label for="itemName" style="margin-left:1em">Item Name</label>
            <input class="form-control formColor" [(ngModel)]="model.name" type="text" id="itemName" name="itemName" value="">

        </div>
        <div class="form-group">
            <label for="type" style="margin-left:1em">Candy Type</label>
<input class="form-control formColor" [(ngModel)]="model.typeId" type="number" id="type" name="type.typeId" value="item.type.typeId">

        </div>
        <div class="form-group">
            <label for="quantity" style="margin-left:1em" style="margin-left:1em">Quantity</label>
<input class="form-control formColor" [(ngModel)]="model.quantity" type="number" id="quantity" name="quantity" value="item.quantity">
          

        </div>
        <div class="form-group">
            <label for="warehouse" style="margin-left:1em">Warehouse Location</label>
<input class="form-control formColor" [(ngModel)]="model.warehouseId" type="number" id="warehouse" name="warehouse" value="">

        </div>
        <div class="form-group" >
            <label for="popularity" style="margin-left:1em">Popularity</label>
<input class="form-control formColor" [(ngModel)]="model.popularity"type="number" id="popularity" name="popularity" value="">

        </div>
            <button class="btn pretty-btn button border-dark mt-3" style="margin-left:1em;" type="submit">Update Inventory</button>
       
        <input class="btn pretty-btn border-dark mt-3" type="reset" value="Reset" style="margin-left: 3px;">

    </form>
    <!-- <table class="tables table-hover table-border main-text">
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="font-weight: bolder; font-size:x-large;">Candy Type</th>
            <th scope="col" style="font-weight: bolder; font-size:x-large;">Type ID</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Chocolate</th>
            <td style="font-weight: bold;">1</td>
          </tr>
          <tr>
            <th scope="row">Gummy</th>
            <td style="font-weight: bold;">2</td>
          </tr>
          <tr>
            <th scope="row">Lollipop</th>
            <td style="font-weight: bold;">3</td>
          </tr>
        </tbody>
      </table>
</div> -->
<style>
    * {
      box-sizing: border-box;
    }
    
    .row {
      margin-left:-5px;
      margin-right:-5px;
    }
      
    .column {
      float: left;
      width: 50%;
      padding: 5px;
    }
    
    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }
    
    th, td {
      text-align: left;
      padding: 16px;
    }
    
    tr:nth-child(even) {
      background-color: #e4c1f9;
    }
    </style>
    <body>
    <div class="row">
      <div class="column">
        <table class="tables table-hover table-border main-text">
          <tr>
            <th style="font-weight: bolder; font-size:x-large;" >Candy Name</th>
            <th style="font-weight: bolder; font-size:x-large;">Candy ID</th>
          </tr>
          <tr>
            <td style="font-weight: bold;" >Chocolate</td>
            <td style="font-weight: bold;" >1</td>
          </tr>
          <tr>
            <td style="font-weight: bold;" >Gummy</td>
            <td style="font-weight: bold;" >2</td>
          </tr>
          <tr>
            <td style="font-weight: bold;" >Lollipop</td>
            <td style="font-weight: bold;" >3</td>
          </tr>
        </table>
      </div>
      <div class="column">
        <table class="tables table-hover table-border main-text">
          <tr>
            <th style="font-weight: bolder; font-size:x-large;">Warehouse Location</th>
            <th style="font-weight: bolder; font-size:x-large;">Warehouse ID</th>
          </tr>
          <tr>
            <td style="font-weight: bold;" >Indianapolis</td>
            <td style="font-weight: bold;" >1</td>
          </tr>
          <tr>
            <td style="font-weight: bold;" >Nashville</td>
            <td style="font-weight: bold;" >2</td>
          </tr>
          <tr>
            <td style="font-weight: bold;" >Oklahoma City</td>
            <td style="font-weight: bold;" >3</td>
          </tr>
        </table>
      </div>
    </div>
    
    </body></div>