<div class="section container mt-4">
<div class="title text-center">
    About Us
</div>
<br>
<div class="text-center body main-text">
<div>
    Candy Warehouse Inventory Management System was created by a team of 5 aspiring software developers:
</div>
<br>
<div>
    Anthony Carro   |   Daun Kim    |   Blake Jones |   Tenzin Wangden  |   Jaycie Horner
</div>
<br>

<div>
    Our hope is to help ease the struggles of inventory management while simultaneously honing our full-stack development skills.
</div>
<br>
<div class="mx-2">
    Friday, July 14th we will graduate and go off into the world applying the overwhelming amount of knowledge and skills that we have recieved throughout the duration of this course.
</div>
<br>
<div>
    Thank you to all the instructors who helped us along the way!
</div>
</div>
</div>